.container{
    margin: 0px;
    padding: 0px;   
}
.form
{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    position: relative;
    left: 10px;
}

.form_label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

.form_input {
    width: 100%;
    
    font-size: 16px;
    margin-bottom: 20px;
    background-color: rgba(41, 141, 58, 0.2)
    
}

.form_button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    position: relative;
    top: 50px;
}